<a href="https://colab.research.google.com/github/pawanGithub10/MachineLearning/blob/main/GaussianNBOverWine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.8)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

In [ ]:
!mkdir .kaggle

mkdir: cannot create directory ‚Äò.kaggle‚Äô: File exists

In [ ]:
import json
token = {"username":"pawanbhakuni","key":"d9b555981b6526229d28c18c901cd384"}
with open('/content/.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)

In [ ]:
!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json

In [ ]:
!mkdir ~/.kaggle
!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json

mkdir: cannot create directory ‚Äò/root/.kaggle‚Äô: File exists

In [ ]:
!kaggle config set -n path -v{/content}

- path is now set to: {/content}

In [ ]:
!chmod 600 /root/.kaggle/kaggle.json

In [ ]:
!kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                               title                                                 size  lastUpdated          downloadCount
----------------------------------------------------------------  --------------------------------------------------  ------  -------------------  -------------
heeraldedhia/groceries-dataset                                    Groceries dataset                                    257KB  2020-09-17 04:36:08           1292
andrewmvd/trip-advisor-hotel-reviews                              Trip Advisor Hotel Reviews                             5MB  2020-09-30 08:31:20            759
balraj98/stanford-background-dataset                              Stanford Background Dataset                           17MB  2020-09-26 12:57:59             94
nehaprabhavalkar/indian-food-101                                  Indian Food 101                                        7KB  2020-09-30 06:23:43           1146
christianlillelund/donald-trumps-rallies                          Donald Trump's Rallies                               720KB  2020-09-26 10:25:08            199
jilkothari/finance-accounting-courses-udemy-13k-course            Finance & Accounting Courses - Udemy (13K+ course)  1000KB  2020-09-17 12:46:12            349
balraj98/massachusetts-roads-dataset                              Massachusetts Roads Dataset                            6GB  2020-09-26 03:57:49             64
arslanali4343/top-personality-dataset                             Top Personality Dataset                                9MB  2020-09-27 21:25:45            372
oldaandozerskaya/fiction-corpus-for-agebased-text-classification  RusAge: Corpus for Age-Based Text Classification     509MB  2020-09-28 09:30:12             19
gpreda/chinese-mnist                                              Chinese MNIST                                         10MB  2020-08-05 12:36:00            160
gpreda/local-elections-romania-2020                               Local Elections Romania 2020                          28MB  2020-09-27 20:46:11             68
anth7310/mental-health-in-the-tech-industry                       Mental Health in the Tech Industry                     2MB  2020-09-27 11:17:23            539
roshansharma/sanfranciso-crime-dataset                            Sanfranciso Crime Dataset                              6MB  2019-05-29 12:45:44           3200
bppuneethpai/tldr-summary-for-man-pages                           TLDR summary for man pages                             8MB  2020-09-25 09:50:10             12
sterby/german-recipes-dataset                                     German Recipes Dataset                                 5MB  2019-03-06 16:25:22            776
arslanali4343/real-estate-dataset                                 Real Estate DataSet                                   12KB  2020-09-28 21:25:33            431
thomaskonstantin/top-270-rated-computer-science-programing-books  Top 270 Computer Science / Programing Books           45KB  2020-09-28 16:47:12            215
leangab/poe-short-stories-corpuscsv                               E.A. Poe's corpus of short stories                   725KB  2020-09-28 11:43:08             56
anmolkumar/health-insurance-cross-sell-prediction                 Health Insurance Cross Sell Prediction üè† üè•             6MB  2020-09-11 18:39:31           3619
ramjidoolla/ipl-data-set                                          IPL _Data_Set                                          1MB  2020-09-14 10:57:42           3087

In [ ]:
!kaggle datasets list -s titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                 title                                           size  lastUpdated          downloadCount
--------------------------------------------------  ---------------------------------------------  -----  -------------------  -------------
heptapod/titanic                                    Titanic                                         11KB  2017-05-16 08:14:22          14824
azeembootwala/titanic                               Titanic                                         12KB  2017-06-05 12:14:37           6758
prkukunoor/TitanicDataset                           Titanic                                        135KB  2017-01-03 22:01:13           3381
broaniki/titanic                                    titanic                                        717KB  2018-01-30 04:08:45           7309
hesh97/titanicdataset-traincsv                      Titanic-Dataset (train.csv)                     22KB  2018-02-02 04:51:06          27349
kittisaks/testtitanic                               test titanic                                    22KB  2017-03-13 15:13:12           1327
fossouodonald/titaniccsv                            Titanic csv                                      1KB  2016-11-07 09:44:58           5259
jamesleslie/titanic-cleaned-data                    Titanic: cleaned data                           36KB  2018-11-21 11:50:18           2355
pavlofesenko/titanic-extended                       Titanic extended dataset (Kaggle + Wikipedia)  134KB  2019-03-06 09:53:24           3661
rahulsah06/titanic                                  Titanic                                         34KB  2019-09-16 14:43:23            257
abhinavralhan/titanic                               titanic                                         22KB  2017-07-30 11:07:55            440
cities/titanic123                                   Titanic Dataset Analysis                        22KB  2017-02-07 23:15:54            924
harunshimanto/titanic-solution-for-beginners-guide  Titanic Solution for Beginner's Guide           34KB  2018-03-12 17:47:06            918
sureshbhusare/titanic-dataset-from-kaggle           Titanic DataSet from Kaggle                     33KB  2017-10-12 04:49:39           1674
mahdijavid/datacamptraining                         DataCampTraining(Titanic)                        1KB  2017-01-05 11:36:30            167
rganapathy/titanic-subset                           Titanic subset                                  22KB  2017-05-11 04:30:37            317
davorbudimir/titanic                                Titanic                                         485B  2020-04-19 13:14:12             13
shuofxz/titanic-machine-learning-from-disaster      Titanic: Machine Learning from Disaster         33KB  2017-10-15 10:05:34           1146
dushyantkhinchi/titanic-survival                    Titanic survival                                33KB  2018-01-21 09:24:33            531
tedllh/titanic-train                                titanic_train                                   22KB  2018-02-23 07:13:19           1886

In [ ]:
!kaggle datasets download -d shuofxz/titanic-machine-learning-from-disaster -p /content/

titanic-machine-learning-from-disaster.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
!unzip \*.zip

Archive:  titanic-machine-learning-from-disaster.zip
replace test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: test.csv
replace train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: train.csv

Archive:  red-wine-quality-cortez-et-al-2009.zip
replace winequality-red.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: winequality-red.csv

2 archives were successfully processed.

In [ ]:
import pandas as pd

df = pd.read_csv('train.csv')
df.head(100)
df.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [ ]:
#Pearson Correlation Coefficient
%matplotlib inline
import seaborn as sns
df.corr(method ='pearson') 
#sns.heatmap(df, annot=True)

             PassengerId  Survived    Pclass  ...     SibSp     Parch      Fare
PassengerId     1.000000 -0.005007 -0.035144  ... -0.057527 -0.001652  0.012658
Survived       -0.005007  1.000000 -0.338481  ... -0.035322  0.081629  0.257307
Pclass         -0.035144 -0.338481  1.000000  ...  0.083081  0.018443 -0.549500
Age             0.036847 -0.077221 -0.369226  ... -0.308247 -0.189119  0.096067
SibSp          -0.057527 -0.035322  0.083081  ...  1.000000  0.414838  0.159651
Parch          -0.001652  0.081629  0.018443  ...  0.414838  1.000000  0.216225
Fare            0.012658  0.257307 -0.549500  ...  0.159651  0.216225  1.000000

[7 rows x 7 columns]

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree
from sklearn.linear_model import LinearRegression

train,test = train_test_split(df,test_size=0.2)
#print(type(train))
#print(test)
X_train =  train.iloc[:,0:11]
y_train =  train.iloc[:,11]
X_test  =  test.iloc[:,0:11]
y_test  =  test.iloc[:,11]
#print(xTrain)
#print(yTrain)
#print(xTest)
#print(yTest)


gnbClassify = GaussianNB()
gnbClassify.fit(X_train,y_train)
y_predicted = gnbClassify.predict(X_test)
accuracy_score(y_test,y_predicted)

# decisionTree = tree.DecisionTreeClassifier(max_leaf_nodes=40)
# decisionTree.fit(X_train,y_train)
# y_predicted = gnbClassify.predict(X_test)
# accuracy_score(y_test,y_predicted)

# linearRegression = tree.DecisionTreeClassifier(max_leaf_nodes=40)
# linearRegression.fit(X_train,y_train)
# y_predicted = gnbClassify.predict(X_test)
# accuracy_score(y_test,y_predicted)